@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom right, #F2F8FE, #6F93A3);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 14em;
}

header {
 /* position: absolute; */
 margin-top: 20px;
 width: 100%;
}

/* Logo start */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 3em;
}

.logo h1 {
  padding-left: 0.2em;
  font-size: 2em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #FF4500;
}

/* Logo end */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card start */

.contentCard {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content:center;
}

.card-content {
  background: #fff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0.2);
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 300px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 8px 8px 25px rgba(0, 0, 0.2);
    transition: 0.2s ease-in-out;
  }
}

.content {
  bottom: 0;
  filter:brightness(100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  display: flex;
  width: 100%;
  height: 60%;
  color: #000;
  background-color: rgba(0, 0, 0, 0.219);
  text-align: center;
  overflow: hidden;
}

.card-information {
  bottom: 0;
  padding: 10px;
  height: 40%;
  position: absolute;
  width: 100%;
  transition: 0.5s ease-in-out;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2{
  color: #000;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}

.card-information-footer {
  border-top: 1px solid #000;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.card-information-footer-info {
  display: flex;
  align-content: center;
  justify-content: center;;
}

.card-information-footer-info img {
  height: 25px;
}

.card-information-footer-info p {
  margin: 0 5px;
}

/*
h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset .3s .3s ease-out;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  position: absolute;
  inset: auto auto 80px 30px;
  opacity: 0;
  max-width: 80%;
  transition: opacity .3s ease-out;
}

&:hover h2 {
  inset: auto auto 220px 30px;
  transition: opacity .5s .1s ease-in;
}

&:hover p {
  opacity: 1;
  transition: opacity .5s .1s ease-in;
}

&:hover .card-content {
  transition: opacity .3s ease-in;
  opacity: 1;
}
.card-information {
  height: 150px;
  background-color: #D3331B;
  padding: 5px;
}
  */

/* card stats end */
  .stats {
    display: flex;
    align-items: center;
  }

  .stats img {
    padding: 5px;
  }

  .progress-bar {
    display: flex;
    height: 20px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-segment {
    height: 100%;
    transition: width 0.3s ease;
  }
/* Card end */

/* Footer start */
menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

#user {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

/* Footer end */