@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom right, #F2F8FE, #6F93A3);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 14em;
}

header {
 /* position: absolute; */
 width: 100%;
}

/* Logo start */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 3em;
}

.logo h1 {
  padding-left: 0.2em;
  font-size: 2em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #FF4500;
}

/* Logo end */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card start */

.contentCard {
  background-color: rgba(255, 96, 0, 0.38);
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  color: rgb(240, 240, 240);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 13px;
}

.card-content {
  object-fit: cover;
  width: 100%;
  opacity: 0.9;
  height: 100%;
  transition: opacity .2s ease-out;
}

/*.content {
  width: 350px;
}*/

h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset .3s .3s ease-out;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  position: absolute;
  inset: auto auto 80px 30px;
  opacity: 0;
  max-width: 80%;
  transition: opacity .3s ease-out;
}

&:hover h2 {
  inset: auto auto 220px 30px;
  transition: opacity .5s .1s ease-in;
}

&:hover p {
  opacity: 1;
  transition: opacity .5s .1s ease-in;
}

&:hover .card-content {
  transition: opacity .3s ease-in;
  opacity: 1;
}
.card-information {
  height: 150px;
  background-color: #D3331B;
  padding: 5px;
}

/* card stats end */
  .stats {
    display: flex;
    align-items: center;
  }

  .stats img {
    padding: 5px;
  }

  .progress-bar {
    display: flex;
    height: 20px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-segment {
    height: 100%;
    transition: width 0.3s ease;
  }
/* Card end */

/* Footer start */
menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

#user {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

/* Footer end */