@import "tailwindcss";

:root {

  /*Colour Definition*/
  --offWhite: #F4F5F7;
  --pureWhite: #FFFFFF;
  --glass: rgba(255, 255, 255, 0.9);
  --darkBlue: #172B4D;
  --lightBlue: #6B778C;
  /*Intention Defintion*/
  --titleFont: "Oswald", sans-serif;
  --postFont: "Montserrat", sans-serif;
  --background: var(--offWhite);
  --cardBackground: var(--pureWhite);
  --navBackground: var(--glass);
  --titleFontColour: var(--darkBlue);
  --textFontColour: var(--lightBlue);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  width: 100vw;
  height: 100%;
  background: var(--background);
  color: var(--textFontColour);
}

h1,
h2 {
  font-family: var(--titleFont);
  color: var(--titleFontColour);
}

p {
  font-family: var(--postFont);
}

header {
  /* position: absolute; */
  margin: 0;
  width: 100%;
  height: 10%;
}

/* Logo start */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 3em;
}

.logo h1 {
  padding-left: 0.2em;
  font-size: 2em;
  font-family: var(--titleFont);
  color: #FF4500;
}

/* Logo end */

main {
  height: 90%;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.card-stack {
  display: flex;
  flex-grow: 1;
  height: 100%;
  z-index: 1;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card-stack__item {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  offset-path: path("M-200,-30 C-145,-30 -75,0 0,0 C75,0 145,-30 200,-30");
  offset-distance: 50%;
  box-shadow: 0 12px 24px rgba(9, 30, 66, 0.5), 0 0 1px rgba(9, 30, 66, 0.5);
  animation: card-load 1s forwards;
}

.is-upvoted {
  animation: upvote 3s forwards;
}

.is-downvoted {
  animation: downvote 3s forwards;
}

@keyframes downvote {
  0% {
    offset-rotate: 0deg;
    offset-distance: 50%;
  }

  20% {
    opacity: 100%;
  }

  70% {
    opacity: 0%;
  }

  100% {
    offset-rotate: -20deg;
    offset-distance: 0%;
    opacity: 0%;
  }
}

@keyframes upvote {
  0% {
    offset-rotate: 0deg;
    offset-distance: 50%;
  }

  20% {
    opacity: 100%;
  }

  70% {
    opacity: 0%;
  }

  100% {
    offset-rotate: 20deg;
    offset-distance: 100%;
    opacity: 0%;
  }
}

@keyframes card-load {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* Card start */
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.card {
  background: var(--cardBackground);
  height: 450px;
  overflow: hidden;
  width: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.card__content {
  user-select: none;
  bottom: 0;
  left: 0;
  position: absolute;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  display: flex;
  width: 100%;
  height: 60%;
  text-align: center;
  overflow: hidden;
  pointer-events: none;
}

.card__information {
  bottom: 0;
  padding: 10px;
  height: 40%;
  position: absolute;
  width: 100%;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__information h2 {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.card__information__footer {
  border-top: 1px solid #000;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__information__footer__info {
  display: flex;
  align-content: center;
  justify-content: center;
}

.card__information__footer__info img {
  height: 25px;
}

.card__information__footer__info p {
  margin: 0 5px;
}

.error {
  background: #FF4500;
}

.error_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.escape_error {
  padding: 10px;
  color: #000;
  background: var(--offWhite);
  border: 1px var(--offWhite) solid;
  border-radius: 5px;
  width: fit-content;
  pointer-events: all;
}

.escape_error :hover {
  background: var(--glass)
}

/* card stats end */
.stats {
  display: flex;
  align-items: center;
}

.stats img {
  padding: 5px;
}

.progress-bar {
  display: flex;
  height: 20px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-segment {
  height: 100%;
  transition: width 0.3s ease;
}

/* Card end */

/* Footer start */
menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: var(--navBackground);
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.hidden-menu {
  position: absolute;
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: height 1s, opacity 1s, margin 1s;
  overflow-y: hidden;
  z-index: 99;
  margin: 0;
}

#menu-item-category {
  anchor-name: --category-menu;
}

.category-menu {
  position-anchor: --category-menu;
  bottom: anchor(top);
  left: anchor(left);
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: nowrap;
  width: fit-content;
  color: #000;
  background-color: #fff;
  border: #171717 solid 2px;
  border-radius: 5px;
}

.category-menu-item {
  padding: 5px;
  text-align: left;
}

.category-menu-item button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.category-menu-item img {
  padding-right: 5px;
}

#menu-item-search {
  anchor-name: --search-menu;
}

.search-form {
  position-anchor: --search-menu;
  bottom: anchor(top);
  right: anchor(right);
  margin-bottom: 5px;
}

.search-form button {
  position: relative;
  background-color: #FF4500;
  border-radius: 5px;
  padding: 0 2px;
}

.search-menu {
  border: #000 2px solid;
  border-radius: 5px;
  height: auto;
  background-color: white;
  color: #000;
}

#visible {
  opacity: 100;
  pointer-events: all;
  margin: 0;
}

#visible.category-menu {
  height: 200px;
}

#visible.search-form {
  height: 30px;
}

/* Footer end */