@import "tailwindcss";

:root {
  --background: #CCFBFE;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #CCFBFE;
    --foreground: #ededed;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
 /* position: absolute; */
 margin: 20px 0;
 width: 100%;
}

/* Logo start */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 3em;
}

.logo h1 {
  padding-left: 0.2em;
  font-size: 2em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #FF4500;
}

/* Logo end */

main {
  height: fit-content;
  width: 100%;
  overflow: hidden;;
  display: flex;
  flex-direction: column;
}

.card-stack {
  flex-grow: 1;
  padding-top: 10px;
  height: fit-content;
  z-index: 1;
  position: relative;
  width: 100%
  /*padding-right: 30%;   300pc */
  /*padding-bottom: 457px; 457px */
}

.card-stack__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Card start */

.card {
  background: #fff;
  height: 450px;
  overflow: hidden;
  width: 300px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__content {
  bottom: 0;
  filter:brightness(100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  display: flex;
  width: 100%;
  height: 60%;
  color: #000;
  background-color: rgba(0, 0, 0, 0.219);
  text-align: center;
  overflow: hidden;
  pointer-events: none;
}

.card__information {
  bottom: 0;
  padding: 10px;
  height: 40%;
  position: absolute;
  width: 100%;
  transition: 0.5s ease-in-out;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.card__information h2{
  color: #000;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  font-weight: bold;
}

.card__information__footer {
  border-top: 1px solid #000;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__information__footer__info {
  display: flex;
  align-content: center;
  justify-content: center;;
}

.card__information__footer__info img {
  height: 25px;
}

.card__information__footer__info p {
  margin: 0 5px;
}


/*
h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset .3s .3s ease-out;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  position: absolute;
  inset: auto auto 80px 30px;
  opacity: 0;
  max-width: 80%;
  transition: opacity .3s ease-out;
}

&:hover h2 {
  inset: auto auto 220px 30px;
  transition: opacity .5s .1s ease-in;
}

&:hover p {
  opacity: 1;
  transition: opacity .5s .1s ease-in;
}

&:hover .card-content {
  transition: opacity .3s ease-in;
  opacity: 1;
}
.card-information {
  height: 150px;
  background-color: #D3331B;
  padding: 5px;
}
  */

/* card stats end */
  .stats {
    display: flex;
    align-items: center;
  }

  .stats img {
    padding: 5px;
  }

  .progress-bar {
    display: flex;
    height: 20px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-segment {
    height: 100%;
    transition: width 0.3s ease;
  }
/* Card end */

/* Footer start */
menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

#user {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

/* Footer end */